body{
   background-image: url('/images/marvel.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'Poppins', sans-serif;
}
.nav-item {
    color: #020202;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link {
    color: black
}

.container {
    padding-top: 4rem;
    padding-bottom: 100vh;
    margin-bottom: 0px;
}


.nav-link:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
    text-decoration-size: 2px;
}


.jumbotron {
    border-radius: 0px;
    background-color: #fff;
    color: black;
}

.jumbotron h1 {
    font-size: 150px;
}

#session-form {
    margin-bottom: 20px;
}

#session-form form{
    margin: 15px auto 15px auto;
}

#session-form button {
    display: block;
    margin: 10px auto;
}

#returning-agent h2 {
    margin-bottom: 20px;
}

#newsFeed {
    margin: 20px auto;
}

